.tao-editor-toolbar-menu-item.heading-item {

  .menu-popover .tao-popover-content {
    & > .tao-editor-toolbar-item.h1-item .item-link {
      font-size: $font-size-h1;
    }

    & > .tao-editor-toolbar-item.h2-item .item-link {
      font-size: $font-size-h2;
    }

    & > .tao-editor-toolbar-item.h3-item .item-link {
      font-size: $font-size-h3;
    }

    & > .tao-editor-toolbar-item.h4-item .item-link {
      font-size: $font-size-h4;
    }
  }
}
